<table id="ClientManagementTable" style="width: 100%;">
    <tr>
    <th>
        Avatar
    </th>
    <th>
        First Name
    </th>
    <th>
        Last Name
    </th>
    <th>
        Current Balance
    </th>
    <th>
        Credit Rating
    </th>
    <th>
        Barcode ID
    </th>
    <th>
        Action
    </th>
    </tr>
    <% for(const Client of Clients.sort((a,b) => { 
    
        if(parseFloat(a.balance) > parseFloat(b.balance)){
            return 1
        }
        if(parseFloat(b.balance) > parseFloat(a.balance)){
            return -1
        }
            return 0
    }))

    {%>
    <tr>
    <td style="display: none ;">
        <%= Client.id %>
    </td>
    <td style="display: none ;">
        <%= Client.barcode.name %>
    </td>
    <td> 
        <div class="w3-container w3-padding-16 w3-center">
            <img src="assets/images/favorite.png" class="w3-square w3-margin-right" style="width:46px">
        </div>
    </td>

    <td> 
        <%= Client.firstname %>
    </td>

    <td> 
        <%= Client.lastname %>
    </td>

    <td> 
        <%= `R${Client.balance}`%>
    </td>
    <td> 
        <% if(parseFloat(Client.balance) > 0){ %>

            <div class="w3-container w3-padding-16 w3-center">
                <img src="assets/images/good.png" class="w3-square w3-margin-right" style="width:46px">
            </div>

        <% } else { %>


            <div class="w3-container w3-padding-16 w3-center">
                <img src="assets/images/bad.png" class="w3-square w3-margin-right" style="width:46px">
            </div>

        <% } %>
    </td>
    <td> 
        <div class="w3-center">
            <img 
            <%= `src=assets/images/Barcodes/${Client.barcode.name}.png` %>
            class="w3-square w3-margin-right" style="width:150px">
        </div>

     </td>

    <td>
        <div class="btn-group-center">
            <button class="w3-button w3-orange">&nbsp Edit &nbsp</button>
            <button class="w3-button w3-blue">Place Order</button>  
            <button class="w3-button w3-teal">Top Up</button>  
        </div>
    </td>         
    </tr>
    <% } %>
</table>