<table id="ClientManagementTable" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" style="width: 100%;">
    <tr>
    <th class="w3-center">
        Avatar
    </th>
    <th class="w3-center">
        First Name
    </th>
    <th class="w3-center">
        Last Name
    </th>
    <th class="w3-center">
        Current Balance
    </th>
    <th class="w3-center">
        Credit Rating
    </th>
    <th class="w3-center">
        Barcode ID
    </th>
    <th class="w3-center">
        Sale
    </th>
    <th class="w3-center">
        Account
    </th>
    </tr>
    <% for(const Client of Clients.sort((a,b) => { 
    
        if(parseFloat(a.balance) > parseFloat(b.balance)){
            return 1
        }
        if(parseFloat(b.balance) > parseFloat(a.balance)){
            return -1
        }
            return 0
    }))

    {%>
    <tr>
    <td style="display: none ;">
        <%= Client.id %>
    </td>
    <td class="w3-center"> 
        <div class="w3-container w3-padding-16 w3-center">
            <img src="assets/images/favorite.png" class="w3-square w3-margin-right" style="width:46px">
        </div>
    </td>

    <td class="w3-center"> 
        <div class="w3-container w3-padding-16 w3-center">
            <%= Client.firstname %>
        </div>

    </td>

    <td class="w3-center"> 
        <div class="w3-container w3-padding-16 w3-center">
            <%= Client.lastname %>
        </div>
    </td>

    <td class="w3-center"> 
        <div class="w3-container w3-padding-16 w3-center">
            <%= `R${Client.balance}`%>
        </div> 
    </td>
    <td class="w3-center"> 
        <% if(parseFloat(Client.balance) >= 0){ %>

            <div class="w3-container w3-padding-16 w3-center">
                <img src="assets/images/good.png" class="w3-square w3-margin-right" style="width:46px">
            </div>

        <% } else { %>


            <div class="w3-container w3-padding-16 w3-center">
                <img src="assets/images/bad.png" class="w3-square w3-margin-right" style="width:46px">
            </div>
            test
        <% } %>
    </td>
    <td class="w3-center">
        <div class="w3-container w3-padding-16 w3-center">
            <div>
                <img src="assets/images/id-card.png" class="w3-square w3-margin-right" style="width:46px">
            </div>
            <%= `${Client.barcode.name.toUpperCase()}` %>
        </div>
    </td>
    <td class="w3-center" style="display: none;">
        <div class="w3-container w3-padding-16 w3-center">
            <%= `${Client.cellnumber}` %>
        </div>
    </td>
    <td class="w3-center" style="display: none;">
        <div class="w3-container w3-padding-16 w3-center">
            <%= `${Client.identitynumber}` %>
        </div>
    </td>
    <td class="w3-center" style="display: none;">
        <div class="w3-container w3-padding-16 w3-center">
            <%= `${Client.email}` %>
        </div>
    </td>
    <td class="w3-center">
        <div class="w3-container w3-padding-16 w3-center">
            <div class="btn-group-center">
                <button class="w3-button w3-blue w3-round">Pay Debt</button>  
                <button class="w3-button w3-teal w3-round" onclick="ToggleModal('ProductCardPurchaseModal');GetAllProductsForPurchase('CardPurchaseProductsList');PopulateClientBalanceforPurchase('<%= Client.id %>');">Place Order</button>
            </div>
        </div>
    </td> 
    <td class="w3-center"> 
        <div class="w3-container w3-padding-16 w3-center">
            <div class="btn-group-center">
                <% if(User.isAdmin){ %>
                    <button class="w3-button w3-green w3-round">History</button>
                    <button class="w3-button w3-orange w3-round" onclick="ToggleModal('ModifyClientModal');PopulateModifyExisitingClientForm('<%= Client.id %>')">&nbsp Edit &nbsp</button>
                    <button class="w3-button w3-red w3-round" onclick="ToggleModal('LoaderModal');DeleteClient('<%= Client.id %>');">Delete</button>     
                <% } %>
            </div>   
        </div>
    </td>        
    </tr>
    <% } %>
</table>